# database
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/vortex?schema=public"

# payment processing
# https://docs.stripe.com/keys
STRIPE_API_KEY=""
# https://docs.stripe.com/webhooks
STRIPE_WEBHOOK_SECRET=""

# GraphQL
# https://escape.tech/graphql-armor/docs/plugins/cost-limit
GRAPHQL_COMPLEXITY_MAX_COST="800"

# allowed origins for CORS (comma-separated) (https://developer.mozilla.org/en-US/docs/Web/HTTP/Reference/Headers/Access-Control-Allow-Origin)
CORS_ALLOWED_ORIGINS="https://localhost:3000"

# Condition to toggle `useAuth` plugin in development (production is unchanged). `true` to protect all routes
PROTECT_ROUTES="true"

# Set to `1` to receive debug logs from `useAuth` plugin
AUTH_DEBUG=""
