# database
DATABASE_NAME="vortex"
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/vortex?schema=public"

# GraphQL
# https://escape.tech/graphql-armor/docs/plugins/cost-limit
GRAPHQL_COMPLEXITY_MAX_COST="400"

# allowed origins for CORS (comma-separated) (https://developer.mozilla.org/en-US/docs/Web/HTTP/Reference/Headers/Access-Control-Allow-Origin)
CORS_ALLOWED_ORIGINS="https://localhost:3000"
